@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to School Management</h1>
    <p>Here you can add students, Teachers, Courses and assignments in the given sequence. <br/>
        Teachers are assigned to course when you create the course and Assignments are related to courses 
        when Assignment is created.<br />
        Students can be assigned to courses from students page "Assign Course" link.<br />
        To see the complete details of Courses like related Teacher, Assignments and Students click on "Print Course"
        link on Courses page.
        </p>
</div>
